<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f4230ae877.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">    
    <title>Home</title>
</head>
<body>
    <header>
            <div class="header-complet">
                <div class="header-top-bar">
                    <img src="img\logo-mercado-liebre.svg" alt="Mercado Liebre" class="logo">
                    <div class="div-buscador">
                        <input class="barra-busqueda" type="text" placeholder="Buscar productos, marcas y más"><button><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>            
                </div>
                    <p class="tittle-header"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de credito</p>
            </div>
        <nav class="nav-bar">
            <ul class="left-navbar" style="list-style: none;">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>              
            </ul>
            <ul class="right-navbar" style="list-style: none;">
                <li><a href="/register">Crea tu cuenta </a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="/login">Ingresá </a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>  
            </ul>
        </nav>       
            <div class="burger-menu"><i class="fas fa-bars"></i></div> 
    </header>
    <section>
        <img class="img-Banner" src="img\img-home-banner.jpg" alt="banner">
    </section>       
    <main>
        <h3 class="titulares">Basado en tu última vista</h3>
        <section class="Productos">            
            <article>              
                <img src="img\img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="caja-articulo">
                    <div class="icono-camion">
                        <i class="fa-solid fa-truck"></i> 
                    </div>
                    <div class="precio-descuento">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">$40% OFF</p>
                    </div>                              
                    <h4 class="descripciones">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img src="img\img-macbook-pro-2019.jpg" alt="Macbook Pro">
                <div class="caja-articulo">
                    <div class="icono-camion">
                        <i class="fa-solid fa-truck"></i>  
                    </div>
                    <div class="precio-descuento">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">$20% OFF</p>
                    </div>
                    <h4 class="descripciones">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img src="img\img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                <div class="caja-articulo">
                    <div class="icono-camion">
                        <i class="fa-solid fa-truck"></i>  
                    </div>
                    <div class="precio-descuento">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">$10% off</p>
                    </div>
                    <h4 class="descripciones">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img src="img\img-tv-samsung-smart.jpg" alt="SmarTv Samsung">
                <div class="caja-articulo">
                    <div class="icono-camion">
                        <i class="fa-solid fa-truck"></i>  
                    </div>
                    <div class="precio-descuento">
                        <p class="precios">$23.200</p>
                        <p class="descuentos">$5% off</p>
                    </div>
                    <h4 class="descripciones">SmartTv Samsung 43"</h4>
                </div>
            </article>
           
        </section>
        <h3 class="titulares">Ofertas</h3> 
        <section class="Ofertas">                      
            <article>
                <img src="img\img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="caja-articulo">
                    <div class="icono-camion">
                        <i class="fa-solid fa-truck"></i>  
                    </div>
                    <div class="precio-descuento">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">$40% OFF</p>
                    </div>
                    <h4 class="descripciones">Cafetera Moulinex</h4>
                </div>
            </article>              
            <article>
                <img src="img\img-macbook-pro-2019.jpg" alt="Macbook Pro">
                <div class="caja-articulo">
                    <div class="icono-camion">
                        <i class="fa-solid fa-truck"></i>  
                    </div>
                    <div class="precio-descuento">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">$20% OFF</p>
                    </div>
                    <h4 class="descripciones">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img src="img\img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                <div class="caja-articulo">
                    <div class="icono-camion">
                        <i class="fa-solid fa-truck"></i>  
                    </div>
                    <div class="precio-descuento">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">$10% off</p>
                    </div>
                    <h4 class="descripciones">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img src="img\img-tv-samsung-smart.jpg" alt="SmarTv Samsung">
                <div class="caja-articulo">
                    <div class="icono-camion">
                        <i class="fa-solid fa-truck"></i>  
                    </div>
                    <div class="precio-descuento">
                        <p class="precios">$23.200</p>
                        <p class="descuentos">$5% off</p>
                    </div>
                    <h4 class="descripciones">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section class="div-footer">
            <div>
                <i class="fa-solid fa-credit-card iconos"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>

            <div>
                <i class="fa-solid fa-gift iconos"></i>
                <h4>Envío gratis desde los $ 2.500</h4>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>

            <div>
                <i class="fa-solid fa-user-shield iconos"></i>
                <h4>Seguridad de principio a fin</h4>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </div>
        </section>
        <p><!-- Copyright © --> &copy; 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>